@import 'assets/styles/mixins.scss';

.container {
  display: flex;
  min-height: 100vh;
  background-color: white;
}

.child {
  margin: auto;
}

.cardLogin {
  max-width: 80vw;
  min-width: 80vw;
  @media (max-width: $md-max-width) {
    min-width: 100vw;
    max-width: 100vw;
  }
  min-height: 100vh;
}

.avatar {
  display: flex;
  width: 10vw;
  height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
  border-radius: 50%;
  background-color: #1d39c4;
  color: #fff;
  align-items: center;
  justify-content: center;
  @media (max-width: $md-max-width) {
    width: 20vw;
    height: 20vw;
    max-width: 20vw;
    max-height: 20vw;
  }
}

.textAvatar {
  text-transform: uppercase;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.image {
  width: 100%;
  // max-height: 50vh;
  object-fit: cover;
  margin: auto;
  // @media (max-width: $md-max-width) {
  //   display: none;
  // }
}

.username {
  font-weight: 400;
  font-size: rem(20);
  margin: 0;
  @media (max-width: $sm-max-width) {
    font-size: rem(18);
  }
  @media (max-width: $xs-max-width) {
    font-size: rem(16);
  }
}

.statusMember {
  font-weight: bold;
  font-size: rem(18);
  @media (max-width: $sm-max-width) {
    font-size: rem(16);
  }
  @media (max-width: $xs-max-width) {
    font-size: rem(14);
  }
}

.totalTitle {
  font-weight: 300;
  font-size: rem(16);
  margin: 0;
  @media (max-width: $sm-max-width) {
    font-size: rem(14);
  }
  @media (max-width: $xs-max-width) {
    font-size: rem(12);
  }
}

.points {
  font-weight: bold;
  font-size: rem(20);
  margin: 0;
  @media (max-width: $sm-max-width) {
    font-size: rem(18);
  }
  @media (max-width: $xs-max-width) {
    font-size: rem(16);
  }
}

.points {
  font-weight: bold;
  font-size: rem(20);
  margin: 0;
  @media (max-width: $sm-max-width) {
    font-size: rem(18);
  }
  @media (max-width: $xs-max-width) {
    font-size: rem(16);
  }
}

.unitPoint {
  font-weight: 400;
  font-size: rem(12);
  margin: 0;
}
