// Import mixins
@import 'assets/styles/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  ANT DESIGN INPUT */

.ant-input-disabled {
  background: $gray-lighten-more-more;
}

.ant-input-number-handler-wrap {
  display: none !important;
}

.ant-input-number-input {
  text-align: right !important;
}
