@import 'assets/styles/mixins.scss';

.containerImg {
  display: flex;
}

.container {
  display: flex;
  min-height: 100vh;
}

.child {
  margin: auto;
}

.cardLogin {
  max-width: 60vw;
  min-width: 60vw;
  @media (max-width: $md-max-width) {
    min-width: 90vw;
    max-width: 90vw;
  }
}

.card {
  background-color: $white;
}

.image {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  margin: auto;
  @media (max-width: $md-max-width) {
    display: none;
  }
}

.form {
  // background-color: white;
  padding: rem(20);
}

.formTitle {
  font-size: rem(18);
  margin: 0;
  color: $black;
  font-weight: 700;
  @media (max-width: 1359px) {
    font-size: rem(17);
  }
  @media (max-width: $sm-max-width) {
    font-size: rem(16);
  }
  @media (max-width: $xl-max-width) {
    font-size: rem(16);
  }
}

.desc {
  font-size: rem(13);
  margin: 0;
  color: $text-darken;
  font-weight: 500;
  padding-top: rem(12);
  @media (max-width: 1359px) {
    font-size: rem(11);
  }
  @media (max-width: $sm-max-width) {
    font-size: rem(10);
  }
  @media (max-width: $xl-max-width) {
    font-size: rem(10);
  }
}

.logo {
  min-width: 100px;
  max-width: 100px;
  object-fit: cover;
}

.textFooter {
  font-size: rem(13);
  margin-top: rem(11);
  margin-bottom: 0;
}

.heightBtn {
  display: flex;
  margin: rem(10) 0;
  min-height: rem(40);
  max-height: rem(40);
}
