.wrapPreLoader {
  display: flex;
  min-height: 100vh;
  background-color: #f2f4f8;
}

.loading-container {
  align-items: center;
  justify-content: center;
  animation: rotate 3s linear infinite;
  height: 50px;
  transform-origin: bottom center;
  flex-direction: column;
  margin: auto;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.circle {
  animation: grow 1.5s linear infinite;
  background-color: #0072d6;
  border-radius: 50%;
  display: inline-block;
  margin: -10px;
  height: 40px;
  width: 40px;
  transform: scale(0);
}

.circle:nth-of-type(2) {
  animation-delay: 0.75s;
  background-color: #08f;
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
